<div style="padding:30px; text-align:center;">
	<br/><br/><br/>
	<h3>Tu nuevo password fue enviado a tu mail de <%=@user.email%></h3>
	Favor de revisar tu entrada de emails para ingresar a idemsport.com con el nuevo password.
	<br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
