<br/><h1 class="fh1b" style="margin-left:20px;">Contacto</h1><br/>
<table>
	<tr>
		<td>
			<div class="contactform">
				<p class="cp">
					Para nosotros es muy importante saber lo que tu piensas,<br/>
					si tienes algún proyecto en mente o alguna sugerencia, contactanos
				</p>
				<br/>
			
				<form> 
					<span class="textform_c">Nombre</span> 
					<input type="textfield" name="nombre" class="textfield_c"/> 
					<br />
					 
					<span class="textform_c">Empresa</span> 
					<input type="textfield" name="empresa" class="textfield_c"/> 
					<br />
					
					<span class="textform_c">Telefono</span> 
					<input type="textfield" name="telefono" class="textfield_c"/> 
					<br />
					
					<span class="textform_c">E-mail</span> 
					<input type="textfield" name="email" class="textfield_c"/> 
					<br />
					
					<span class="textform_c">Comentarios</span> 
					<textarea name="comentarios" cols="30" rows="5" class="textfield_c">
					</textarea>
					<br />
					
					<label> 
						<input type="submit" name="Enviar" Value="Enviar" class="send_c"/> 
					</label> 
				
				</form>
			</div>
		</td>
		<td>
			<div class="viasc">
				<h1 class="ch1a">Otras vías de comunicación</h1>
				<p class="cp"><strong>Tel:</strong>(81) 82 66 00 90</p>
				<p class="cp"><strong>Nextel ID:</strong>72*13*13075</p>
				<p class="cp"><strong>Nextel Directo:</strong>1776-1000</p><br/>
				<p class="cp"><strong>info@idemsport.com</strong></p><br/>
				<p class="twitter"><a href="#">Siguenos por Twitter</a></p>
				<p class="facebook"><a href="#">Nuestro grupo en Facebook</a></p>
				<p class="mail"><a href="#">Nuestro Newsletter</a></p>
			</div>
		</td>
	</tr>
</table>



