<div style="padding:30px;">

    <h1>Gracias por tu participación</h1>
    
    Se enviarón <%=@emails_count%> Invitaciones.<br/>
    idemsport.com agredece tu labor y desea un buen dia.

    <p>
      <a href="<%= current_user.profile_path %>">Al perfil</a>
    </p>

</div>